# Hello Pandas

In [2]:
import pandas as pd

print(pd.__version__)

1.1.3

In [8]:
from faker import Faker
import json

faker = Faker()
profiles = []
for i in range(10):
    profiles.append(faker.simple_profile()) 

df = pd.read_json(json.dumps(profiles, default=str))

In [9]:
df

,username,name,sex,address,mail,birthdate
0,mlawson,Belinda Myers,F,"45806 John Greens Apt. 538\nNorth Williamport,...",ahensley@yahoo.com,1947-04-15
1,george89,Kevin Anthony,M,"9028 Carter Valley\nSouth Kevinview, IL 34285",vharris@yahoo.com,1973-11-09
2,abigailgarcia,Tyrone James,M,"6921 Andrea Gateway\nEast Andrea, FL 79477",kenneth78@hotmail.com,2002-02-04
3,zmathews,Joseph Navarro,M,"6389 Calhoun Plain\nWest Jessicaville, TX 66059",luis10@yahoo.com,1920-03-13
4,millsmary,Brenda Murphy,F,"27870 Glen Ferry\nMorenoport, WA 85192",htaylor@hotmail.com,1928-04-14
5,rogerslauren,Mark Miller,M,671 Dillon Expressway Suite 493\nWest Gabriell...,stephanielee@gmail.com,1978-09-11
6,hernandeztracy,Julie Miller,F,"87043 Warner Dale\nAndersonborough, LA 93793",lisa80@gmail.com,1931-03-13
7,whayes,Timothy Harvey,M,"73177 Hood Plains\nEast Tinashire, NY 05836",norristara@yahoo.com,1909-04-27
8,josephbennett,Pamela Cabrera,F,"1711 Jimmy Villages Apt. 008\nPattonborough, T...",charles31@hotmail.com,1950-08-30
9,briancontreras,Dawn Combs,F,"2023 Sandra Crescent Suite 191\nNicholsshire, ...",ojohnson@hotmail.com,2012-08-25

In [13]:
df.keys()

Index(['username', 'name', 'sex', 'address', 'mail', 'birthdate'], dtype='object')

In [21]:
df.dtypes

username     object
name         object
sex          object
address      object
mail         object
birthdate    object
dtype: object